<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crispy Ching</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          container: {
            center: true,
            padding: '26%',
          },
          extend: {
            colors: {
              primary: '#fab62d',
            },
          },
        },
      };
    </script>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body
    id="app"
    v-cloak
    class="bg-[url('assets/img/background_lg.png')] bg-cover bg-no-repeat bg-center bg-fixed"
  >
    <main
      v-show="!menuFlag && !specificationFlag"
      class="w-full md:w-[480px] mx-auto bg-[url('assets/img/background.png')] bg-repeat bg-[length:80px_80px] flex flex-col gap-12"
    >
      <section class="pt-10 relative flex justify-center">
        <img
          class="absolute w-[210px]"
          src="assets/img/pro.png"
          alt="作品專區"
        />
      </section>
      <div id="Page">
        <img class="max-h-[743px]" src="assets//img/page_bg.png" alt="作品專區" />
        <div class="video_page">
          <div v-if="post.platform === 'instagram'" class="w-full h-full md:-ml-[60px] mt-[-54px] ig_item">
            <iframe
              width="270"
              height="610"
              :src="`${post.transformed_video_url}/embed`"
              frameborder="0"
            ></iframe>
          </div>
          <div v-else-if="post.platform === 'facebook'" class="w-full h-full">
            <iframe
              :src="`https://www.facebook.com/plugins/post.php?href=${post.transformed_video_url}&width=184&show_text=false&appId=677088294591742&height=322`"
              width="184"
              height="322"
              style="border: none; overflow: hidden"
              scrolling="no"
              frameborder="0"
              allowfullscreen="true"
              allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
            ></iframe>
          </div>
          <div v-else class="w-full h-full">
            <iframe
              width="184"
              height="322"
              :src="post.transformed_video_url"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media;gyroscope; picture-in-picture;web-share"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="page_info">
          <div class="md:w-[265px] md:h-[90px] video_list">
            <p class="text-balance">
              <span class="w-[86px] font-bold inline-block">投稿人暱稱:</span>
              <span class="text-[#381b14]">@{{post.submission_name}}</span>
            </p>
            <div class="flex">
              <span class="w-[70px] font-bold inline-block">作品名稱:</span>
              <span class="text-[#381b14]">@{{post.title}}</span>
            </div>
            <div class="flex">
              <span class="w-[70px] font-bold inline-block">累積票數:</span>
              <span class="text-[#381b14]">@{{post.votes}}</span>
            </div>
          </div>
          <img
            @click="isVotePeriod(post.id)"
            class="max-w-[160px] w-[25vw] mt-3 mx-auto cursor-pointer"
            src="assets/img/vote_button.png"
            alt="投給他一票"
          />
        </div>
      </div>
      <footer>
        <img
          src="assets/img/footer.png"
          alt="客服信箱:CrispyChing2024@supermedia.cool"
        />
      </footer>
    </main>
    <!-- 選單 -->
    <section v-show="menuFlag" class="w-full md:w-[480px] mx-auto">
      <div
        class="relative bg-[url('assets/img/menu_background2.jpg')] bg-[length:480px_841.3px] bg-repeat-y h-screen bg-[center_top_193.5px]"
      >
        <img src="assets/img/menu_background.png" alt="選單背景" />
        <div class="flex justify-center items-center">
          <div
            class="absolute top-[2%] right-[3%] bg-red-200 w-[9%] h-[4%] sm:h-[6%] md:h-[4%] rounded-full cursor-pointer"
            @click="menuFlag = !menuFlag"
          ></div>
          <div
            class="absolute top-[45vw] md:top-56 md:max-w-[300px] max-w-[480px] w-[62vw]"
          >
            <img src="assets/img/menu.png" alt="" />

            <a
              v-for="i in Array.from(Array(8).keys())"
              :href="`#section${i+1}`"
              :class="`sectionBlock section${i+1}`"
              @click="menuFlag = !menuFlag"
            >
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- 尚未開放 -->
    <section>
      <div
        v-if="isVoteTime"
        class="fixed z-10 inset-0 overflow-y-auto"
        :class="{'opacity-0': !isVoteTime}"
        aria-labelledby="modal-title"
        role="dialog"
        aria-modal="true"
      >
        <div
          class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
        >
          <div
            class="fixed inset-0 bg-black bg-opacity-75 transition-opacity sm:max-w-none"
            aria-hidden="true"
          ></div>
          <span
            class="hidden sm:inline-block sm:align-middle sm:h-screen"
            aria-hidden="true"
            >&#8203;</span
          >
          <div
            class="inline-block bg-white rounded-xl overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-sm sm:w-full mb-[50%]"
          >
            <div class="relative">
              <img
                width="398"
                src="assets/img/isVoteTime.png"
                alt="投稿尚未完成，請完整填寫資料！"
              />
              <div
                @click="isVoteTime = !isVoteTime"
                class="absolute top-[15px] right-3 w-10 h-10 cursor-pointer bg-inherit rounded-full"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 登入成功 -->
    <section>
      <div
        v-if="loginSuccess"
        class="fixed z-10 inset-0 overflow-y-auto"
        :class="{'opacity-0': !loginSuccess}"
        aria-labelledby="modal-title"
        role="dialog"
        aria-modal="true"
      >
        <div
          class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
        >
          <div
            class="fixed inset-0 bg-black bg-opacity-75 transition-opacity sm:max-w-none"
            aria-hidden="true"
          ></div>
          <span
            class="hidden sm:inline-block sm:align-middle sm:h-screen"
            aria-hidden="true"
            >&#8203;</span
          >
          <div
            class="inline-block bg-white rounded-xl overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-sm sm:w-full mb-[50%]"
          >
            <div class="relative">
              <img
                width="398"
                src="assets/img/loginSuccess.png"
                alt="登入成功！"
              />
              <div
                @click="loginSuccess = !loginSuccess"
                class="absolute top-[15px] right-3 w-10 h-10 cursor-pointer bg-inherit rounded-full"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 登入 -->
    <section>
      <div
        v-if="login"
        class="fixed z-10 inset-0 overflow-y-auto"
        :class="{'opacity-0': !login}"
        aria-labelledby="modal-title"
        role="dialog"
        aria-modal="true"
      >
        <div
          class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
        >
          <div
            class="fixed inset-0 bg-black bg-opacity-75 transition-opacity sm:max-w-none"
            aria-hidden="true"
          ></div>
          <span
            class="hidden sm:inline-block sm:align-middle sm:h-screen"
            aria-hidden="true"
            >&#8203;</span
          >
          <div
            class="inline-block bg-white rounded-xl overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-sm sm:w-full mb-[50%]"
          >
            <div class="relative">
              <img
                width="398"
                src="assets/img/login.png"
                alt="以Facebook帳號繼續"
              />
              <div
                @click="login = !login"
                class="absolute top-[15px] right-3 w-10 h-10 cursor-pointer bg-inherit rounded-full"
              ></div>
              <a
                class="absolute bottom-[83px] left-7 h-[54px] sm:h-12 w-[292px] sm:w-[284px] rounded-full"
                :href="`${domain}/sso/facebook`"
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 投票成功 -->
    <section>
      <div
        v-if="voteSuccess"
        class="fixed z-10 inset-0 overflow-y-auto"
        :class="{'opacity-0': !voteSuccess}"
        aria-labelledby="modal-title"
        role="dialog"
        aria-modal="true"
      >
        <div
          class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
        >
          <div
            class="fixed inset-0 bg-black bg-opacity-75 transition-opacity sm:max-w-none"
            aria-hidden="true"
          ></div>
          <span
            class="hidden sm:inline-block sm:align-middle sm:h-screen"
            aria-hidden="true"
            >&#8203;</span
          >
          <div
            class="inline-block bg-white rounded-xl overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-sm sm:w-full mb-[50%]"
          >
            <div class="relative">
              <img
                width="398"
                src="assets/img/voteSuccess.png"
                alt="恭喜投票成功！"
              />
              <div
                @click="voteSuccess = !voteSuccess"
                class="absolute top-[15px] right-3 w-10 h-10 cursor-pointer bg-inherit rounded-full"
              ></div>
              <a
                @click="voteSuccess = !voteSuccess"
                class="absolute bottom-[98px] left-7 h-[54px] sm:h-12 w-[292px] sm:w-[280px] rounded-full border"
                href="/list.html"
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 只可投一次 -->
    <section>
      <div
        v-if="voteFail"
        class="fixed z-10 inset-0 overflow-y-auto"
        :class="{'opacity-0': !voteFail}"
        aria-labelledby="modal-title"
        role="dialog"
        aria-modal="true"
      >
        <div
          class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
        >
          <div
            class="fixed inset-0 bg-black bg-opacity-75 transition-opacity sm:max-w-none"
            aria-hidden="true"
          ></div>
          <span
            class="hidden sm:inline-block sm:align-middle sm:h-screen"
            aria-hidden="true"
            >&#8203;</span
          >
          <div
            class="inline-block bg-white rounded-xl overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-sm sm:w-full mb-[50%]"
          >
            <div class="relative">
              <img
                width="398"
                src="assets/img/voteFail.png"
                alt="每部作品每日僅可投1票已達今日上限！"
              />
              <div
                @click="voteFail = !voteFail"
                class="absolute top-[15px] right-3 w-10 h-10 cursor-pointer bg-inherit rounded-full"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 已達上限 -->
    <section>
      <div
        v-if="voteLimit"
        class="fixed z-10 inset-0 overflow-y-auto"
        :class="{'opacity-0': !voteLimit}"
        aria-labelledby="modal-title"
        role="dialog"
        aria-modal="true"
      >
        <div
          class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
        >
          <div
            class="fixed inset-0 bg-black bg-opacity-75 transition-opacity sm:max-w-none"
            aria-hidden="true"
          ></div>
          <span
            class="hidden sm:inline-block sm:align-middle sm:h-screen"
            aria-hidden="true"
            >&#8203;</span
          >
          <div
            class="inline-block bg-white rounded-xl overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-sm sm:w-full mb-[50%]"
          >
            <div class="relative">
              <img
                width="398"
                src="assets/img/voteLimit.png"
                alt="已達今日投票上限"
              />
              <div
                @click="voteLimit = !voteLimit"
                class="absolute top-[15px] right-3 w-10 h-10 cursor-pointer bg-inherit rounded-full"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="assets/js/index.js"></script>
  </body>
</html>
